
body, html {
    font-family: myfont;
    height: 100%;
    position: relative; 
}

h1 {
    font-weight: bold;
    color: white;
    font-size: 6em;
    text-align: center;
    padding-top: 150px;
}

h2 {
    font-size: 4em;
    color: white;
    text-align: center;
}

.parallax {
    /* The image used */
    background-image: url('image/background1.jpg');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#section1 {
    padding-top:0;
    height:500px;
    color: #fff; 
    background-color: #1E88E5;
}

#section1 h1 {
    padding-top: 20px;
}

#section2 {
    padding-top:50px;
    height:500px;color: #fff; 
    background-color: #673ab7;
}

#section3 {
    padding-top:50px;
    height:500px;
    color: #fff; 
    background-color: #ff9800;
}

#section4 {
    padding-top:50px;
    height:500px;
    color: #fff; 
    background-color: pink;
}



#myNavbar {
    font-weight: bold;
}